.footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	/* height: 64px; */
	min-width: 420px;
	background: var(--card);
	border: 1px solid var(--border);
	display: flex;
	gap: 2em;
	justify-content: space-between;
	align-items: center;
	border-radius: 2em;
	padding: 8px;
	margin-bottom: .5em;
}

.nav-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: var(--text);
	text-decoration: none;
	padding: 8px;
	transition: background 0s ease,
							opacity 10.35s ease,
							visibility 10.35s ease;
}
.nav-item.active {
	background: var(--primary);
	border-radius: 2em;
}

.nav-item span {
	display: none;
	opacity: 0;
	visibility: hidden;
}
.nav-item.active span {
	display: inline;
	opacity: 1;
	visibility: visible;
}